$standardFont: 'Onest Regular';
$notStandardFont: 'Prata Regular';

@font-face {
    font-family: $standardFont;
    src: url(/fonts/Onest-Regular.ttf);
}

@font-face {
    font-family: $notStandardFont;
    src: url(/fonts/Prata-Regular.ttf);
}

*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-thumb {
    background-color: #4824ff;
}

*::-webkit-scrollbar-track {
    background-color: #ffffff01;
}

html[data-theme='light'] {
    --mainBackground: white;
    --headerBackground: #ffffffe1;
    --serviceBackground: #fbfaff;

    --mainTextColor: black;

    --switchBackground: #eeebff;
    --themeBackground: white;

    --titleBorderColor: #4824ff30;

    --mainElementsColor: #eeebff;
    --elementsColor: #eeebff;
    --elementsTextColor: white;

    --tagTextColor: #4824ff;
    --selectedTagBackground: #04001a;
}

html[data-theme='dark'] {
    --mainBackground: #04001a;
    --headerBackground: #04001ae1;
    --serviceBackground: #060026;

    --mainTextColor: white;

    --switchBackground: #120940;
    --themeBackground: #4824ff;

    --titleBorderColor: #eeebff25;

    --mainElementsColor: #4824ff;
    --elementsColor: #080033;
    --elementsTextColor: black;

    --tagTextColor: white;
    --selectedTagBackground: white;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 5vw;

    font-family: $standardFont;
    background-color: var(--mainBackground);
    color: var(--mainTextColor);
}

a {
    color: var(--mainTextColor);
    text-decoration: none;
}
